.login-page-form {
  background-color: #081443;
  color: white;
  text-align: center;
  border-bottom: solid;
  border-width: 2px;
  border-color: turquoise;
}

.login-header {
  margin: 0;
  padding: 6%;
  color: white
}

.silly-text {
  color: white;
  text-align: center;
  padding: 20% 20%;
}
