.banner {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #081443;
}

.header-h1 {
  margin: 0;
  padding: 3%;
  background-color: turquoise;
}

.header-h2 {
  margin: 0;
  padding: 3%;
  color: white;
  border-width: .3px;
  border-bottom: solid;
  border-color: turquoise
}

.header-logged-in, .header-logged-out {
  padding: 0;
  display: flex;
  align-items: normal;
  justify-content: space-evenly;
  border-width: .3px;
  border-bottom: solid;
  border-color: turquoise;
}

.header-logo {
  padding-top: 4%;
  padding-bottom: 2%;
}

.log-link {
  width: 33%;
  text-decoration: none;
  color: whitesmoke;
}

.log-logo-text {
  padding: 0;
  margin: 0 0 1% 0;
  line-height: 1.6;
  color: white
}
