.book-title, .book-details {
  color: black;
}

.book-title {
  margin: 2% 0% 0% 0%
}

.details {
  text-align: center;
}

.row {
  display: flex
}

.column-left {
  width: 49%;
  text-align: right;
  padding: 1%;
  font-weight: bold;
}

.column-right {
  width: 49%;
  text-align: left;
  padding: 1%
}
