html {
  height: 100%
}

body {
  font-family: 'Alatsi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #081443;
  height: 100%
}

#root {
  height: 100%
}

.App {
  height: 100%
}
.App-Main {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
