.error, .no-book-error {
  color: white;
  padding: 5% 20%;
  text-align: center;
}

.user-book-list-header {
  color: white;
  margin: 2% 0 1% 0;
  padding: 0;
}

.user-book-list-Main {
  color: white;
  text-align: center;
}

.fas {
  padding: 0;
  padding-top: 1%;
  margin: 0;
}

.filter-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-label {
  width: 30%;
  text-align: right;
  margin: 1%;
}

.sort-select {
  width: 30%;
  padding: 3px;
  margin: 3px;
}

a {
  text-decoration: none;
  color: white
}

.filter-sort {
  height: 15%;
  border-bottom: solid;
  border-width: 2px;
  border-color: turquoise;
  padding: 0;
  margin: 0;
}

.booklist {
  padding: 1% 2% 1% 2%;
  margin: 5% 5%;
  border-radius: 15px;
  border: 1px;
  border-width: 1px;
  border-color: turquoise;
  background-color: turquoise;
  text-align: center;
}

.log-logo-text {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  color: white
}